<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Application</title>
</head>
<body>
<h1>Welcome!</h1>
<table>
    <p><a href="#" th:href="@{/}">Home</a></p>
    <p><a href="#" th:href="@{reg/stats}">Registration statistic</a></p>
    <form name="Find notifications by phone" th:action="@{ntf/find}">
        <p>Search notifications for phone</p>
        <input name="phone" th:text="*{phone}" />
        <input value="FIND" type="submit"/>
    </form>
</table>
</body>
</html>